<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Daftar Pulau
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-accordion-group expand="inset">
  <ion-accordion value="sumatera">
    <ion-item slot="header" color="light">
      <ion-label>Pulau Sumatera</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-list>
        <ion-item>
          <ion-label>
            <h3>Aceh</h3>
            <p>Ibu kota: Banda Aceh</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Sumatera Utara</h3>
            <p>Ibu kota: Medan</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Sumatera Barat</h3>
            <p>Ibu kota: Padang</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Riau</h3>
            <p>Ibu kota: Pekanbaru</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Jambi</h3>
            <p>Ibu kota: Jambi</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Sumatera Selatan</h3>
            <p>Ibu kota: Palembang</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Bengkulu</h3>
            <p>Ibu kota: Bengkulu</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Lampung</h3>
            <p>Ibu kota: Bandar Lampung</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Kepulauan Bangka Belitung</h3>
            <p>Ibu kota: Pangkalpinang</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Kepulauan Riau</h3>
            <p>Ibu kota: Tanjungpinang</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-accordion>
  <ion-accordion value="jawa">
    <ion-item slot="header" color="light">
      <ion-label>Pulau Jawa</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-list>
        <ion-item>
          <ion-label>
            <h3>DKI Jakarta</h3>
            <p>Ibu kota: Jakarta</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Jawa Barat</h3>
            <p>Ibu kota: Bandung</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Jawa Tengah</h3>
            <p>Ibu kota: Semarang</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>DI Yogyakarta</h3>
            <p>Ibu kota: Yogyakarta</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Jawa Timur</h3>
            <p>Ibu kota: Surabaya</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Banten</h3>
            <p>Ibu kota: Serang</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-accordion>
  <ion-accordion value="bali-nusa-tenggara">
    <ion-item slot="header" color="light">
      <ion-label>Pulau Bali & Nusa Tenggara</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-list>
        <ion-item>
          <ion-label>
            <h3>Bali</h3>
            <p>Ibu kota: Denpasar</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Nusa Tenggara Barat</h3>
            <p>Ibu kota: Mataram</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Nusa Tenggara Timur</h3>
            <p>Ibu kota: Kupang</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-accordion>
  <ion-accordion value="kalimantan">
    <ion-item slot="header" color="light">
      <ion-label>Pulau Kalimantan</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-list>
        <ion-item>
          <ion-label>
            <h3>Kalimantan Barat</h3>
            <p>Ibu kota: Pontianak</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Kalimantan Tengah</h3>
            <p>Ibu kota: Palangkaraya</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Kalimantan Selatan</h3>
            <p>Ibu kota: Banjarbaru</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Kalimantan Timur</h3>
            <p>Ibu kota: Samarinda</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Kalimantan Utara</h3>
            <p>Ibu kota: Tanjung Selor</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-accordion>
  <ion-accordion value="sulawesi">
    <ion-item slot="header" color="light">
      <ion-label>Pulau Sulawesi</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-list>
        <ion-item>
          <ion-label>
            <h3>Sulawesi Utara</h3>
            <p>Ibu kota: Manado</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Sulawesi Tengah</h3>
            <p>Ibu kota: Palu</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Sulawesi Selatan</h3>
            <p>Ibu kota: Makassar</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Sulawesi Tenggara</h3>
            <p>Ibu kota: Kendari</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Gorontalo</h3>
            <p>Ibu kota: Gorontalo</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Sulawesi Barat</h3>
            <p>Ibu kota: Mamuju</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-accordion>
  <ion-accordion value="maluku-papua">
    <ion-item slot="header" color="light">
      <ion-label>Pulau Maluku & Papua</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-list>
        <ion-item>
          <ion-label>
            <h3>Maluku</h3>
            <p>Ibu kota: Ambon</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Maluku Utara</h3>
            <p>Ibu kota: Sofifi</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Papua</h3>
            <p>Ibu kota: Jayapura</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Papua Barat</h3>
            <p>Ibu kota: Manokwari</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Papua Selatan</h3>
            <p>Ibu kota: Merauke</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Papua Tengah</h3>
            <p>Ibu kota: Nabire</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Papua Pegunungan</h3>
            <p>Ibu kota: Jayawijaya</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Papua Barat Daya</h3>
            <p>Ibu kota: Sorong</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-accordion>
</ion-accordion-group>
</ion-content>
