<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List Provinsi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>Aceh</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Bali</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Bangka Belitung</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Banten</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Bengkulu</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Daerah Istimewa Yogyakarta</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>DKI Jakarta</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Gorontalo</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Jambi</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Jawa Barat</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Jawa Tengah</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Jawa Timur</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Kalimantan Barat</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Kalimantan Selatan</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Kalimantan Tengah</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Kalimantan Timur</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Kalimantan Utara</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Kepulauan Riau</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lampung</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Maluku</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Maluku Utara</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nusa Tenggara Barat</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nusa Tenggara Timur</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Papua</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Papua Barat</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Papua Barat Daya</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Papua Pegunungan</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Papua Selatan</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Papua Tengah</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Riau</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sulawesi Barat</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sulawesi Selatan</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sulawesi Tengah</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sulawesi Tenggara</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sulawesi Utara</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sumatera Barat</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sumatera Selatan</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sumatera Utara</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
